@import url(./vendor/normalize.css);
@import url(./vendor/fonts/Inter/fonts_inter.css);

.page {
  font-family: "Inter", Arial, sans-serif; 
  background-color: #2a2c2f;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.page__container {
  max-width: 1280px;
  box-sizing: border-box;
  margin: 0 auto;
  color: #fff; 
  padding: 28px 0 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 48px;
  align-items: flex-end;
}

.header__logo {
  width: 176px;
  height: 52px;
  object-fit: cover;
}

.header__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.header__list-item {
  margin-right: 18px;
}

.header__list-item:last-child {
  margin-right: 0;
}

.header__link {
  color: #fff;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
}

.header__link_underline {
  text-decoration: underline;
}

.content {
  margin: 56px 0 92px;
}

.lead {
  margin: 0 148px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.lead__title {
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.05;
  text-align: center;
  margin: 0 0 32px; 
  max-width: 720px;
}

.lead__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  margin: 0 0 64px;
  max-width: 640px;
}

.lead__image {
  width: 100%;
  object-fit: cover;
}

.lead__caption {
  align-self: flex-start;
  margin: 8px 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.intro {
  margin-top: 92px;
  margin-left: 148px;
  max-width: 690px; 
}

.intro__title {
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.08;
  margin: 0 0 40px;
}

.intro__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.63;
  margin: 0 0 32px;
}

.intro__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-style: normal;
  font-size: 12px;
  line-height: 1.5;
}

.intro__list-item_type_bold {
  font-weight: bold;
}

.intro__list-item_type_regular {
  font-weight: normal;
}

.photo-grid {
  margin: 92px 48px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
  grid-gap: 16px;
}

.photo-grid__element {
  object-fit: cover;
  width: 100%;
}

.places {
  margin: 92px 148px 0;
}

.places__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, min-content);
  grid-gap: 80px;
}

.places__place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr min-content;
  grid-template-areas:
    "heading url"
    "image text";
  grid-row-gap: 48px;
  grid-column-gap: 40px;
}

.places__title {
  grid-area: heading;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  margin: 0;
  align-self: end;
}

.places__url-heading {
  margin: 0 0 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.2em;
  color: #aaaaaa;
}

.places__link {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
}

.places__website {
  grid-area: url;
  align-self: end;
}

.places__image {
  width: 100%;
  max-width: 460px;
  object-fit: cover;
  grid-area: image;
}

.places__text {
  grid-area: text;
}

.places__paragraph {
  margin: 0 0 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
}

.places__paragraph:last-child {
  margin: 0;
}

.cover {
  margin: 92px 48px 0;
  position: relative;
}

.cover__image {
  width: 100%;
  object-fit: cover;
}

.cover__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(42, 44, 47, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 1s linear;
}

.cover__title {
  max-width: 560px; 
  min-width: 288px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  margin: 0 0 32px;
  color: #fff;
}

.cover__subtitle {
  max-width: 360px; 
  min-width: 288px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  margin: 0;
  color: #fff;
}

.cover:hover .cover__overlay {
  background-color: rgba(42, 44, 47, 0.8);
}

.cover__link {
  color: #fff;
}

.footer {
  margin: 0 48px;
  display: flex;
  justify-content: space-between;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.footer__link {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.22;
  text-decoration: none;
}

.footer__list-item {
  margin-right: 18px;
}

.footer__list-item:last-child {
  margin-right: 0;
}

.footer__copyright {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.29;
}

.change-opacity {
  opacity: 1;
  transition: opacity 0.2s linear;
}

.change-opacity:hover {
  opacity: 0.8;
}

/* Настройки отображения контента при разрешении от 1024 и до 1280 */

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .content {
    margin: 48px 0 92px;
  }

  .lead {
    margin: 0 48px;
  }

  .lead__subtitle {
    margin: 0 0 56px;
  }

  .intro {
    margin-left: 48px;
  }

  .photo-grid {
    grid-gap: 14px;
  }

  .places {
    margin: 92px 48px 0;
  }

  .places__place {
    grid-column-gap: 32px;
  }

  .places__image {
    max-width: 590px;
  }

  .cover {
    margin: 92px 0 0;
  }
}

/* Настройки отображения контента при разрешении от 768 и до 1024 пикселей */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    margin: 0 24px;
  }

  .content {
    margin: 48px 0 88px;
  }

  .lead {
    margin: 0;
  }

  .lead__subtitle {
    margin: 0 0 56px;
  }

  .lead__caption {
    margin-left: 24px;
  }

  .intro {
    margin: 88px 24px 0;
    max-width: 720px;
  }

  .photo-grid {
    margin: 88px 24px 0;
  }

  .places {
    margin: 98.45px 24px 0;
  }

  .places__list {
    grid-gap: 82px;
  }

  .places__place {
    grid-row-gap: 52.58px;
    grid-column-gap: 28.41px;
  }

  .places__title {
    font-size: 36px;
  }

  .places__paragraph {
    font-size: 16px;
  }

  .places__image {
    max-width: 460px;
  }

  .cover {
    margin: 94.75px 0 0;
  }

  .footer {
    margin: 0 24px;
  }
}

/* Настройки отображения контента при разрешении от 320 до 767 пикселей */

@media screen and (min-width: 320px) and (max-width: 767px) {
  .page__container {
    padding: 16px 0 24px;
  }

  .header {
    margin: 0 16px;
  }

  .header__link {
    font-size: 18px;
    line-height: 1.33;
  }

  .header__logo {
    width: 142px;
    height: 42px;
  }

  .content {
    margin: 48px 0 64px;
  }

  .lead {
    margin: 0;
  }

  .lead__title {
    max-width: 767px;
    margin: 0 0 16px;
    font-size: 40px;
    line-height: 1.1;
  }

  .lead__subtitle {
    max-width: 767px;
    font-size: 16px;
    line-height: 1.25;
    margin: 0 0 40px;
  }

  .lead__caption {
    margin-left: 16px;
  }

  .intro {
    margin: 64px 16px 0;
    max-width: 767px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }

  .photo-grid {
    margin: 64px 16px 0;
    grid-gap: 12px;
  }

  .places {
    margin: 64px 0 0;
  }

  .places__place {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    grid-template-areas:
      "heading"
      "image"
      "text";
    grid-row-gap: 32px;
  }

  .places__website {
    display: none;
  }

  .places__title {
    font-size: 32px;
    padding: 0 16px;
  }

  .places__text {
    padding: 0 16px;
  }

  .places__image {
    max-width: 767px;
  }

  .places__paragraph {
    font-size: 16px;
  }

  .cover {
    margin: 94.75px 0 0;
  }

  .cover__title {
    font-size: 32px;
    line-height: 1.09;
    margin: 0 16px 16px;
    
  }

  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
    margin: 0 16px;
  }

  .footer {
    margin: 0 16px;
    min-height: 310px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .footer__list {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .footer__list-item {
    margin-right: 0;
    margin-bottom: 32px;
  }

  .footer__list-item:last-child {
    margin-bottom: 0;
  }

  .footer__link {
    font-size: 24px;
    line-height: 1;
    text-decoration: none;
  }
  .footer__copyright {
    line-height: 1;
  }
}
